@using BusinessLayer.Dtos.Account
@model LoginViewModel

@{
    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <title> ورود</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
</head>

<main class="client-page">
    <div class="container-content">

        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form asp-controller="Account" asp-action="Login" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input type="text" class="form-control" placeholder="نام کاربری" asp-for="UserName">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input type="text" class="form-control" placeholder="رمز عبور " asp-for="Password">
                </div>

                <div class="remember-me">
                    <label><input type="checkbox" asp-for="IsPersistant">  مرا بخاطر بسپار </label>
                </div>

                <div class="link">
                    <a asp-controller="Account" asp-action="ForgotPassword"> <i class="zmdi zmdi-lock"></i> رمز عبور خود را فراموش کرده ام !</a>
                    <a asp-controller="Account" asp-action="Register"> <i class="zmdi zmdi-account"></i> عضویت در سایت </a>
                </div>

                <button class="btn btn-success"> ورود به سایت </button>

            </form>
        </div>

    </div>
</main>