@using BusinessLayer.Dtos.Wallet;
@model List<UserWalletListViewModel>

@{
    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <title> شارژ کیف پول</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
</head>

<main class="client-page">
    <div class="container-content">

        <header><h2> شارژ کیف پول</h2></header>

        <div class="form-layer">

            <form asp-controller="Wallet" asp-action="Index" method="post">

  @*              <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input type="text" class="form-control" placeholder="مبلغ" asp-for="Amo">
                </div>*@



                <button class="btn btn-success"> شارژ کیف پول</button>

            </form>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
         
                    <th>
                        مبلغ

                    </th>
                    <th>
                        بابت

                    </th>
                    <th>
                        واریز/برداشت

                    </th>
                    <th>

                </tr>
            </thead>
            <tbody>
        

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            
                            @item.Amount
                        </td>
                        <td>
                            @item.Description
                        </td>
                      
            
                      
                         
                     </tr>
                    }




     

            </tbody>
        </table>

    </div>
</main>