<head>
    <meta charset="UTF-8">
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
</head>

<body>



    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> همکاری در فروش </a>
                                <a href=""> درباره ما </a>
                                <a href=""> تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein">
                                    <i class="zmdi zmdi-account"></i><a href=""> @User.Identity.Name ، خوش آمدی </a>
                                    <a asp-controller="Account" asp-action="LogOut"> خروج </a>
                                </div>

                            }


                            else
                            {
                                <div class="signin">
                                    <i class="zmdi zmdi-account"></i>

                                    <a href="/Account/Login"> ورود </a> /
                                    <a href="/Account/Register"> عضویت </a>
                                </div>
                            }



                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    @await Component.InvokeAsync("Group");
    @RenderBody()
    <!-- footer -->
    <footer>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> دسترسی سریع</h4></header>
                            <ul>
                                <li><a href="">مشاهده تمامی دوره ها</a></li>
                                <li><a href="">قوانین خرید از سایت </a></li>
                                <li><a href="">راهنمای خرید از سایت </a></li>
                                <li><a href="">همکاری با تاپ لرن </a></li>
                                <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                <li><a href="">ماهنامه طراحی وب</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> دسترسی سریع</h4></header>
                            <ul>
                                <li><a href="">مشاهده تمامی دوره ها</a></li>
                                <li><a href="">قوانین خرید از سایت </a></li>
                                <li><a href="">راهنمای خرید از سایت </a></li>
                                <li><a href="">همکاری با تاپ لرن </a></li>
                                <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                <li><a href="">ماهنامه طراحی وب</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> دسترسی سریع</h4></header>
                            <ul>
                                <li><a href="">مشاهده تمامی دوره ها</a></li>
                                <li><a href="">قوانین خرید از سایت </a></li>
                                <li><a href="">راهنمای خرید از سایت </a></li>
                                <li><a href="">همکاری با تاپ لرن </a></li>
                                <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                <li><a href="">ماهنامه طراحی وب</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> دسترسی سریع</h4></header>
                            <ul>
                                <li><a href="">مشاهده تمامی دوره ها</a></li>
                                <li><a href="">قوانین خرید از سایت </a></li>
                                <li><a href="">راهنمای خرید از سایت </a></li>
                                <li><a href="">همکاری با تاپ لرن </a></li>
                                <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                <li><a href="">ماهنامه طراحی وب</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <p>
                    تمامی حقوق مادی و معنوی این قالب متعلق به <a href=""> تاپ لرن </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
                </p>
            </div>
        </div>
    </footer>
    <!-- /footer -->
</body>